<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.Public.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListController</servlet-name>
        <servlet-class>Controller.Public.ProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDetailController</servlet-name>
        <servlet-class>Controller.Public.ListDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>Controller.Public.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controller.Public.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>Controller.Common.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>Controller.Common.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>Controller.Public.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUserController</servlet-name>
        <servlet-class>Controller.Admin.ListUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartContactController</servlet-name>
        <servlet-class>Controller.Public.CartContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToOrderController</servlet-name>
        <servlet-class>Controller.Public.AddToOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>Controller.Public.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsListController</servlet-name>
        <servlet-class>Controlller.Marketing.ProductsListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>Controlller.Marketing.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>Controller.Admin.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusUserController</servlet-name>
        <servlet-class>Controller.Admin.UpdateStatusUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListController</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDetailController</servlet-name>
        <url-pattern>/list-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/addcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/carts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/delete-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUserController</servlet-name>
        <url-pattern>/list-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartContactController</servlet-name>
        <url-pattern>/cart-contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToOrderController</servlet-name>
        <url-pattern>/add-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsListController</servlet-name>
        <url-pattern>/marketingproductlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/update_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/delete-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusUserController</servlet-name>
        <url-pattern>/update-status-user</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
