<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.Public.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListController</servlet-name>
        <servlet-class>Controller.Public.ProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDetailController</servlet-name>
        <servlet-class>Controller.Public.ListDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>Controller.Public.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controller.Public.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>Controller.Common.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>Controller.Common.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>Controller.Public.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUserController</servlet-name>
        <servlet-class>Controller.Admin.ListUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartContactController</servlet-name>
        <servlet-class>Controller.Public.CartContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToOrderController</servlet-name>
        <servlet-class>Controller.Public.AddToOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>Controller.Public.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsListController</servlet-name>
        <servlet-class>Controlller.Marketing.ProductsListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>Controlller.Marketing.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>Controller.Admin.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusUserController</servlet-name>
        <servlet-class>Controller.Admin.UpdateStatusUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedbackController</servlet-name>
        <servlet-class>Controller.Public.DeleteFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>Controller.Public.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>Controlller.Marketing.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserController</servlet-name>
        <servlet-class>Controller.Admin.CreateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuccessfulCheckoutController</servlet-name>
        <servlet-class>Controller.Public.SuccessfulCheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrderController</servlet-name>
        <servlet-class>Controller.Customer.MyOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailController</servlet-name>
        <servlet-class>Controller.Customer.OrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderController</servlet-name>
        <servlet-class>Controller.Customer.CancelOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePostController</servlet-name>
        <servlet-class>Controlller.Marketing.UpdatePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostsListController</servlet-name>
        <servlet-class>Controlller.Marketing.PostsListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetailsController</servlet-name>
        <servlet-class>Controlller.Marketing.PostDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostController</servlet-name>
        <servlet-class>Controlller.Marketing.AddPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusController</servlet-name>
        <servlet-class>Controlller.Marketing.ChangeStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MKTDashboardController</servlet-name>
        <servlet-class>Controlller.Marketing.MKTDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleDashboardController</servlet-name>
        <servlet-class>Controller.Sale.SaleDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardController</servlet-name>
        <servlet-class>Controller.Admin.AdminDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListSale</servlet-name>
        <servlet-class>Controller.Sale.OrderListSale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSuccessfullOrder</servlet-name>
        <servlet-class>Controller.Sale.UpdateSuccessfullOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailSale</servlet-name>
        <servlet-class>Controller.Sale.OrderDetailSale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderListController</servlet-name>
        <servlet-class>Controlller.Marketing.SliderListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderDetailController</servlet-name>
        <servlet-class>Controlller.Marketing.SliderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFalseSlider</servlet-name>
        <servlet-class>Controlller.Marketing.UpdateFalseSlider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTrueSlider</servlet-name>
        <servlet-class>Controlller.Marketing.UpdateTrueSlider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSlider</servlet-name>
        <servlet-class>Controlller.Marketing.UpdateSlider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSliderController</servlet-name>
        <servlet-class>Controlller.Marketing.AddSliderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackListController</servlet-name>
        <servlet-class>Controlller.Marketing.FeedbackListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusFeedbackController</servlet-name>
        <servlet-class>Controlller.Marketing.ChangeStatusFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackDetailController</servlet-name>
        <servlet-class>Controlller.Marketing.FeedbackDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCart</servlet-name>
        <servlet-class>Controller.Public.UpdateCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>Controlller.Marketing.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusProductController</servlet-name>
        <servlet-class>Controlller.Marketing.ChangeStatusProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderController</servlet-name>
        <servlet-class>Controller.Sale.UpdateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusCustomerController</servlet-name>
        <servlet-class>Controlller.Marketing.ChangeStatusCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingListController</servlet-name>
        <servlet-class>Controller.Admin.SettingListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingDetailsController</servlet-name>
        <servlet-class>Controller.Admin.SettingDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSettingController</servlet-name>
        <servlet-class>Controller.Admin.UpdateSettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSettingController</servlet-name>
        <servlet-class>Controller.Admin.AddSettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackCommonController</servlet-name>
        <servlet-class>Controller.Public.FeedbackCommonController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListController</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDetailController</servlet-name>
        <url-pattern>/list-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/addcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/carts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/delete-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUserController</servlet-name>
        <url-pattern>/list-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartContactController</servlet-name>
        <url-pattern>/cart-contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToOrderController</servlet-name>
        <url-pattern>/add-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsListController</servlet-name>
        <url-pattern>/marketingproductlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/update_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/delete-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusUserController</servlet-name>
        <url-pattern>/update-status-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedbackController</servlet-name>
        <url-pattern>/delete-feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/add_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserController</servlet-name>
        <url-pattern>/create-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuccessfulCheckoutController</servlet-name>
        <url-pattern>/successful</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrderController</servlet-name>
        <url-pattern>/myorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailController</servlet-name>
        <url-pattern>/order-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderController</servlet-name>
        <url-pattern>/cancel-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePostController</servlet-name>
        <url-pattern>/update-post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostsListController</servlet-name>
        <url-pattern>/posts-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetailsController</servlet-name>
        <url-pattern>/post-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostController</servlet-name>
        <url-pattern>/add-post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusController</servlet-name>
        <url-pattern>/change-status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MKTDashboardController</servlet-name>
        <url-pattern>/mkt-dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleDashboardController</servlet-name>
        <url-pattern>/sale-dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardController</servlet-name>
        <url-pattern>/admin-dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListSale</servlet-name>
        <url-pattern>/order-list-sale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSuccessfullOrder</servlet-name>
        <url-pattern>/update-successfull-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailSale</servlet-name>
        <url-pattern>/order-detail-sale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderListController</servlet-name>
        <url-pattern>/slider-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderDetailController</servlet-name>
        <url-pattern>/slider-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFalseSlider</servlet-name>
        <url-pattern>/update-false-slider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTrueSlider</servlet-name>
        <url-pattern>/update-true-slider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSlider</servlet-name>
        <url-pattern>/update-slider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSliderController</servlet-name>
        <url-pattern>/add-slider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackListController</servlet-name>
        <url-pattern>/feedback-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusFeedbackController</servlet-name>
        <url-pattern>/status-feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackDetailController</servlet-name>
        <url-pattern>/feedback-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCart</servlet-name>
        <url-pattern>/update-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/product-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusProductController</servlet-name>
        <url-pattern>/change-status-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderController</servlet-name>
        <url-pattern>/update-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusCustomerController</servlet-name>
        <url-pattern>/change-status-customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingListController</servlet-name>
        <url-pattern>/setting-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingDetailsController</servlet-name>
        <url-pattern>/setting-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSettingController</servlet-name>
        <url-pattern>/update-setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSettingController</servlet-name>
        <url-pattern>/add-setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackCommonController</servlet-name>
        <url-pattern>/feedback_common</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>ConnectorServlet</servlet-name>
        <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
        <init-param>
            <description>
                Path to configuration file can be relative path inside application,
                absolute path on local file system or UNC path.
            </description>
            <param-name>XMLConfig</param-name>
            <param-value>/WEB-INF/config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectorServlet</servlet-name>
        <url-pattern>
            /ckfinder/core/connector/java/connector.java
        </url-pattern>
    </servlet-mapping>
</web-app>
